In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats as st

In [96]:
try: 
    data = pd.read_csv("games.csv")
except:
    data = pd.read_csv("/datasets/games.csv")

In [97]:
display(data.info(), data.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

None

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN

Стоит переименовать названия столбцов к нижнему регистру, чтобы не нарушать внешний вид

In [98]:
data.columns = data.columns.str.lower()
display(data.head(5), data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

None

Стоит рассмотреть типы данных в каждом столбце, затем привести в случае необходимости к нужному, например:
- year_of_release можно привести к целому типу

Остальное не очевидно, возможно потом станет ясно, что стоит изменить

In [106]:
data[data['year_of_release'].isna()]['name'].unique()

array(['Madden NFL 2004', 'FIFA Soccer 2004',
       'LEGO Batman: The Videogame', 'wwe Smackdown vs. Raw 2006',
       'Space Invaders', 'Rock Band',
       "Frogger's Adventures: Temple of the Frog",
       'LEGO Indiana Jones: The Original Adventures', 'Call of Duty 3',
       'Call of Duty: Black Ops', 'Triple Play 99', 'Adventure', 'Combat',
       'LEGO Harry Potter: Years 5-7', 'NASCAR Thunder 2003',
       'Hitman 2: Silent Assassin', 'Legacy of Kain: Soul Reaver',
       'Donkey Kong Land III', 'Air-Sea Battle', 'Suikoden III',
       'Wheel of Fortune', 'Yakuza 4', 'Namco Museum', 'Rhythm Heaven',
       'The Lord of the Rings: War in the North', 'Madden NFL 07',
       'MLB SlugFest 20-03', 'Shaun White Snowboarding',
       'PES 2009: Pro Evolution Soccer', 'WarioWare: Twisted!',
       'Madden NFL 11', 'Test Drive Unlimited 2',
       'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe',
       'Monster Hunter 2', 'Metal Gear Solid 2: Substance',
       'Advance Wars: Days of Ruin', 'The Golden Compass',
       'Madden NFL 06', 'NASCAR: Dirt to Daytona', 'Madden NFL 2002',
       'Def Jam: Fight for NY', 'NBA Street Vol. 2', 'Fishing Derby',
       'Wet', 'Sonic the Hedgehog', 'Karate', 'Tiger Woods PGA Tour 07',
       'Circus Atari',
       'The Chronicles of Riddick: Escape from Butcher Bay',
       "Maze Craze: A Game of Cops 'n Robbers", 'Silent Hill: Homecoming',
       'Super Breakout', "Robert Ludlum's The Bourne Conspiracy",
       'NHL Slapshot', 'TERA', 'NFL GameDay 2003',
       'Harvest Moon: Save the Homeland', 'Hangman', 'NBA Live 2003',
       "Cubix Robots for Everyone: Clash 'n' Bash",
       'Dragon Ball Z: Budokai Tenkaichi 2 (JP sales)', 'Tropico 4',
       'Tomb Raider (2013)', 'Bejeweled 3', 'Custom Robo',
       'Final Fantasy XI', 'Singularity', 'Dragster',
       'All-Star Baseball 2005', 'Star Wars Jedi Knight II: Jedi Outcast',
       'Slot Machine', 'The Dukes of Hazzard II: Daisy Dukes It Out',
       'Harvest Moon: The Tale of Two Towns', 'Shrek the Third',
       'Nicktoons: Battle for Volcano Island', 'Haven: Call of the King',
       'Unreal Championship 2: The Liandri Conflict', 'Pac-Man Fever',
       'The Legend of Zelda: The Minish Cap(weekly JP sales)', 'Indy 500',
       'Disgaea 3: Absence of Detention', 'Flag Capture', 'Gun',
       'Rock Revolution', 'College Hoops 2K6',
       'Jonah Lomu Rugby Challenge', 'Mega Man X Collection',
       'BioShock 2', 'Danganronpa: Trigger Happy Havoc', 'Jet X20',
       "Tony Hawk's Downhill Jam", 'Tribes: Aerial Assault',
       'Big Beach Sports 2', 'Yu Yu Hakusho: Dark Tournament',
       'Ghostbusters II', 'Breakaway IV', 'Robotech: Battlecry',
       'Move Fitness', 'Valkyria Chronicles III: Unrecorded Chronicles',
       'DanceDanceRevolution II', 'WRC: FIA World Rally Championship',
       'Famista 64', 'Dead Space 3', 'Pet Zombies', 'Star Trek: Legacy',
       'Backbreaker', 'Twisted Metal: Small Brawl', 'Otomedius Excellent',
       'NBA Starting Five', 'Teen Titans', 'Trauma Team',
       "James Cameron's Dark Angel", 'Sword of the Samurai',
       'Splatterhouse', 'Alone in the Dark: The New Nightmare',
       'Vegas Party', 'Jurassic Park: The Game', 'Home Run',
       'eJay Clubworld', 'Our House Party!', 'WCW Backstage Assault',
       "Disney's Cinderella: Magical Dreams", 'Transworld Surf',
       'Street Fighter IV', 'Nintendo Puzzle Collection',
       'Charm Girls Club: My Fashion Mall', 'Record of Agarest War Zero',
       'Rocksmith',
       'Super Robot Wars OG Saga: Masou Kishin II - Revelation of Evil God',
       'Saru! Get You! Million Monkeys', 'Street Hoops',
       'Godzilla: Destroy All Monsters Melee',
       'The Daring Game for Girls', 'Major League Baseball 2K6',
       'Star Trek: Conquest', 'GiFTPiA', 'Happy Feet Two',
       "Disney's Chicken Little: Ace In Action",
       'Atsumare! Power Pro Kun no DS Koushien',
       'My Healthy Cooking Coach', 'Luminous Arc 2 (JP sales)',
       'Egg Monster Hero', 'Demon Chaos', 'Samurai Shodown Anthology',
       'Action Man-Operation Extreme', 'Super Puzzle Fighter II',
       'Charm Girls Club: My Fashion Show', 'Face Racers: Photo Finish',
       'Zero: Tsukihami no Kamen', 'The Hidden', 'Get Fit with Mel B',
       'Mega Man Battle Network: Operation Shooting Star',
       'Smashing Drive', 'Port Royale 3', 'Dream Trigger 3D',
       'Dead Island: Riptide', 'Yoostar on MTV', 'Tornado',
       "McFarlane's Evil Prophecy", 'Drake of the 99 Dragons',
       'Build-A-Bear Workshop: Friendship Valley', 'Rayman Arena',
       'National Geographic Challenge!', 'Alex Rider: Stormbreaker',
       'Chou Soujuu Mecha MG',
       'Prinny: Can I Really Be The Hero? (US sales)',
       'Combat Elite: WWII Paratroopers', "Flip's Twisted World",
       'Mobile Ops: The One Year War',
       "Tom Clancy's Rainbow Six: Critical Hour",
       'Jewel Link Chronicles: Mountains of Madness',
       'Captain America: Super Soldier', 'Mountain Bike Adrenaline',
       'Drill Dozer', 'GRID', 'Tour de France 2011',
       'Reader Rabbit 2nd Grade', 'Monster Hunter Frontier Online',
       'RollerCoaster Tycoon', 'Battle vs. Chess',
       'The History Channel: Great Battles - Medieval',
       'Clockwork Empires', 'B.L.U.E.: Legend of Water', 'NHL Hitz Pro',
       "Luxor: Pharaoh's Challenge", 'Sega Rally 2006',
       'Half-Minute Hero 2', 'Housekeeping', 'Major League Baseball 2K8',
       'Sabre Wulf', 'Swords', 'Beyond the Labyrinth',
       'Bikkuriman Daijiten', 'Majesty 2: The Fantasy Kingdom Sim',
       'Fullmetal Alchemist: Brotherhood',
       'Samurai Spirits: Tenkaichi Kenkakuden', 'World of Tanks',
       'Tom and Jerry in War of the Whiskers', 'Super Duper Sumos',
       'The King of Fighters: Maximum Impact - Maniax',
       'Combat Wings: The Great Battles of WWII', 'Tube Slider',
       'Umineko no Naku Koro ni San: Shinjitsu to Gensou no Yasoukyoku',
       'Payout Poker & Casino', 'Wii de Asobu: Metroid Prime',
       'Legacy of Ys: Books I & II', 'Saint', 'Steal Princess',
       'Mario Tennis', 'Runaway: A Twist of Fate',
       "Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)",
       "Cabela's Alaskan Adventure",
       'Writing and Speaking Beautiful Japanese DS', 'Virtua Quest',
       "Shonen Jump's Yu-Gi-Oh! GX Card Almanac", 'Without Warning',
       'PDC World Championship Darts 2008',
       'Dinotopia: The Sunstone Odyssey', 'Jet Impulse', 'Dream Dancer',
       "Dance! It's Your Stage", 'Football Manager 2007',
       'Ferrari: The Race Experience', 'Aquaman: Battle for Atlantis',
       'Homeworld Remastered Collection', 'Shorts',
       'AKB1/48: Idol to Guam de Koishitara...',
       'Brothers in Arms: Furious 4', 'Agarest Senki: Re-appearance',
       'Freaky Flyers', 'Inversion', 'Hakuouki: Shinsengumi Kitan'],
      dtype=object)